{% load socialaccount %}

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
    <div class="container px-lg-5 ">
        <a class="navbar-brand" href="/">OMC</a>
        <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" size="60">
            <a class="btn btn-outline-success" type="submit">Search</a>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/accounts/logout/">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li type="button" class = "nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Login
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-2">
                <a role= "button" class="btn btn-secondary" type="button">E-mail login</a>
                <a role= "button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp&nbsp Google login</a>
                <a role= "button" class="btn btn-secondary" type="button">Sign up</a>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    </div>
</div>


