{% extends 'partials/base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/recipe_list_view.css' %}" rel="stylesheet" />
<style>
    .text-info-active {
    --bs-text-opacity: 1;
    color: rgb(255,255,255) !important;
    }
    .btn-outline-active {
    color: #000;
    background-color: #7f8656;
    border-color: #7f8656;
    }
</style>
{% endblock style %}

{% block title %}
    Recipe List
{% endblock title %}

{% block content %}
<script>
    function submitForm(frm, btn, idx){
        var changedValue = idx        
        if (changedValue < 10){
            changedValue = '0' + changedValue
        }
        var currentUrl = window.location.href
        currentUrl = currentUrl.includes('category')? currentUrl.slice(-9,-1) : '00000000'
        var index = btn.name.slice(-1)
        index = (Number(index) - 1) * 2
        currentUrl = currentUrl.substring(0, index) + changedValue + currentUrl.substring(index + 2);
        frm.action = '/recipe/category/'+ currentUrl + '/'
        return true
    }
</script>
{% if search_word is false  %}
<section>
    <div class="container px-4 px-lg-5 mt-1">
        <div class="row justify-content-center">
            <form class="col-9" action="/recipe/category/00000000/" method="post">
                <span class="text-info" style="padding: 0.5rem 0rem 1rem;">CATEGORY&nbsp;&nbsp;|</span>
                {% for title, category in category.items %}
                <li class="nav-item dropdown-center" style="display: inline-block;">
                    <a class="dropdown-toggle text-info" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="text-align: center; padding: 0 5px;">
                        {{ title }}
                    </a>
                    <ul class="dropdown-menu">
                        {% csrf_token %}
                        <li><button type="submit" name="cat_all_{{forloop.counter}}" class="dropdown-item"
                                onclick="submitForm(this.form, this, '0')">전체</button></li>
                        {% for cat in category %}
                        <li><button type="submit" name="cat{{forloop.parentloop.counter}}" class="dropdown-item"
                                value="{{ forloop.counter }}"
                                onclick="submitForm(this.form, this,{{forloop.counter}})">{{ cat }}</button></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </form>
            <div class="col-3" style="display: inline-block; text-align: right;">
                <button class="bg-light text-info" style="border: none;">
                    조회순
                </button>
                <button class="bg-light text-info" style="border: none;">
                    리뷰순
                </button>
                <button class="bg-light text-info" style="border: none;">
                    제목순
                </button>
            </div>
        </div>
        <hr class="mt-1 mb-4">
    </div>
</section>
{% endif %}
{% comment %}
{% if search_word is false  %}
    <!-- 카테고리 상단바 -->
    <section class="category">
        <div class="container px-4 px-lg-5 mt-1">
            <div class="card" style="border-radius: 10px;">
                <small class="text-muted px-4 px-lg-5 mt-2">
                    {% for cat, val in selected_category.items %}
                    {% if forloop.counter > 1 %} > {% endif %}{{cat}}: {{val}}
                    {% endfor%}
                </small>
                <table class="category-table table-sm table-responsive px-4 px-lg-5 mt-2">
                    <colgroup>
                        <col width="60px">
                        <col width="auto">
                    </colgroup>
                    <tbody>
                        <form action="/recipe/category/00000000/" method="post">
                        {% for title, category in category.items %}
                        <tr>
                            <th style="color: #FFCB34;">{{ title }}</th>
                            <td>
                                {% csrf_token %}
                                <nav class="nav nav-pills flex-column flex-sm-row" style="font-size: 1rem;">
                                    <button type="submit" name="cat_all_{{forloop.counter}}" class="flex-sm-fill text-sm-center nav-link" style="padding: 0.1rem 0.1rem; color: midnightblue;" value="00" onclick="submitForm(this.form, this, '0')">전체</button>
                                    {% for cat in category %}
                                    <button name="cat{{forloop.parentloop.counter}}" class="flex-sm-fill text-sm-center nav-link" style="padding: 0.1rem 0.1rem; color: midnightblue;" value="{{ forloop.counter }}" onclick="submitForm(this.form, this,{{forloop.counter}})">{{ cat }}</button>
                                    {% endfor %}
                                </nav>
                            </td>
                        </tr>
                        {% endfor %}
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endif %}
{% endcomment %}
<!-- Section-->
<section>
    {% if search_info %}
        <small class="text-muted px-4 px-lg-5 mt-2">{{ search_info }}</small>
    {% endif %}
    <div class="container px-4 px-lg-5 mt-1">
        {% if recipe_list %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for recipe in recipe_list %}
            <div class="col mb-4">
                <div class="card">
                    <!-- Recipe image-->
                    <a href="{{ recipe.get_absolute_url }}"><img class="card-img-top" src="{{ recipe.thumbnail }}" style="height: 210px;"/></a>
                    <!-- Recipe details-->
                    <div class="px-3 py-2">
                        <!-- Recipe name-->
                        <div class="row" style="min-height: 60px;">
                            <a href="{{ recipe.get_absolute_url }}" style="color: black; text-decoration: none;">
                                <p style="text-overflow: elipsis;">{{ recipe.name | truncatechars:20 }}</p>
                            </a>
                        </div>
                        <div class="text-center row">
                            <div class="col" style="padding: 0;"><i class="bi bi-star"></i>&nbsp;{{recipe.star}}</div>
                            {% if recipe.viewCount >= 1000 %}
                            <div class="col" style="padding: 0;"><i class="bi bi-eye"></i>&nbsp;{{recipe.viewCount }}</div>
                            {% else %}
                            <div class="col" style="padding: 0;"><i class="bi bi-eye"></i>&nbsp;{{recipe.viewCount}}</div>
                            {% endif %}
                            <div class="col" style="padding: 0;"><i class="bi bi-chat-text"></i>&nbsp;{{recipe.reviewCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="px-4 px-lg-5 m-5 text-center">
            <h1>검색 결과가 없습니다.</h1>
        </div>
        {% endif %}
        <!-- pagination -->
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <!-- 이전 페이지 -->
                {% if page_obj.has_previous %}
                    {% if search_word %}
                        <li class="page-item">
                            <a class="btn text-info" href="/recipe/search/{{ search_word }}/?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                <i class="bi bi-chevron-double-left"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="btn text-info" href="{% url 'omc:recipe_list_view' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                <i class="bi bi-chevron-double-left"></i></a>
                        </li>
                    {% endif %}
                {% else %}
                <li class="page-item disabled">
                    <a class="btn text-info" href="#" tabindex="-1"><i class="bi bi-chevron-double-left"></i></a>
                </li>
                {% endif %}
                <!-- 페이지 번호로 출력 -->
                {% for i in pages %}
                    {% if search_word %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}>
                            {% if i == page_obj.number %}
                            <a role="button" class="btn btn-outline-active text-info-active" href="/recipe/search/{{ search_word }}/?ordering={{ current_order }}&page={{i}}" style="border-radius: 0; margin: 0 1px;">{{i}}</a>
                            {% else %}
                            <a role="button" class="btn btn-outline-info" href="/recipe/search/{{ search_word }}/?ordering={{ current_order }}&page={{i}}" style="border-radius: 0; margin: 0 1px;">{{i}}</a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}>
                            {% if i == page_obj.number %}
                            <a role="button" class="btn btn-outline-active text-info-active" href="/recipe/?ordering={{ current_order }}&page={{i}}" style="border-radius: 0; margin: 0 1px;">{{i}}</a>
                            {% else %}
                            <a role="button" class="btn btn-outline-info" href="/recipe/?ordering={{ current_order }}&page={{i}}" style="border-radius: 0; margin: 0 1px;">{{i}}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                <!-- 다음 페이지 -->
                {% if page_obj.has_next %}
                    {% if search_word %}
                        <li class="page-item">
                            <a class="btn text-info" href="/recipe/search/{{ search_word }}/?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-double-right"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="btn text-info" href="{% url 'omc:recipe_list_view' %}?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-double-right"></i></a>
                        </li>
                    {% endif %}
                {% else %}
                <li class="page-item disabled">
                    <a class="btn text-info" href="#"><i class="bi bi-chevron-double-right"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
</section>
{% endblock content %}