{% extends 'partials/base.html' %}
{% load static %}

{% block title %}
Refrigerator List
{% endblock title %}

{% block style %}
<link href="{% static 'css/btnstyles.css' %}" rel="stylesheet" />
<style>
.searchbox{
  width: 90%;
  margin: 10px auto;
}
#value{
  border: none;
  background: #E0D3B6;
  padding: 6px;
  font-size: 18px;
  width: 80%;
  border-radius: 6px;
  color: white;
}
#value:focus{
    outline: none;
}
#inputValue{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 500px;
    height: 50px;
}
</style>
{% endblock style %}

{% block content %}
<div id="ref_list">
    <div class="searchbox dropdown dropdown-center">
        <h1 class="text-center">{{user.nickname}}의 냉장고<br></h1>
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            How To Use?
        </a>
        <div class="text-center" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" onclick="document.getElementById('inputValue').focus()">
            <input onkeyup="this.value=this.value.replace(/[^ㄱ-ㅎ|가-힣]/g,'');" @keyup="filterFromSearch();forceRender();" @click="filterFromSearch();forceRender();" type="text" id="inputValue" placeholder="재료 검색" />
        </div>
        <div class="container">
            <ul class="dropdown-menu" style="width: 300px; max-height: 400px; overflow-y: auto;">
                <template v-for="(t,index) in userIngredientTypes">
                    <h5 class="dropdown-header" v-show="ingredientCounterFromSearch(t.type) > 0" :key="searchListKey">[[ t.type ]]</h5>
                    <li class="item dropdown-item" :class="`item${index}`" v-for="ing in ingredientFilter(t.type)" v-on:click="addIngredientsFromSearch(ing.type,ing.name,$event);">
                        <span class="name">[[ ing.name ]]</span>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <!-- Section-->
    <section class="py-5" >
        <template v-for="(ui,index) in userIngredientTypes">
            <div class="container py-1" style="padding-left: 15%; padding-right: 15%;" v-if="addedIngredients[index].length > 0">
                <h2 class="fs-4 fw-bold">[[ui.type]]</h2>
                <button class="btn btn-outline-primary position-relative" style="margin: 10px;" v-for="(addedIng,index_added) in addedIngredients[index]" v-on:click="removeBtn(index, index_added, addedIng)">
                    [[ addedIng.name ]]
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" v-on:click="removeBtn(index, index_added, addedIng)">
                        X
                    </span>
                </button>
                <hr class="my-4"/>
            </div>
        </template>
    
        <div style="text-align: center;">
            <button type="button" class="w-btn-neon2 btn-lg"><a href="{% url 'omc:recipe_list_view' %}" class="text-light fw-bold" style="text-decoration:none ;">요리보기</a></button>
        </div>
    </section>

    <div style="display:scroll; position: fixed; right:0px; bottom:50px">
        <div class="container">
            <div data-toggle="tooltip" title="재료 초기화">
                <div style="margin:30px">
                    <button class="btn">
                        <a href="#!" class="text-primary" @click="resetAddedIngredients()"><i style="font-size: 40pt;" class="bi bi-arrow-clockwise"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">어떻게 사용하나요?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <b>1.</b> 냉장고에 있는 재료를 입력하세요<br>
            <b>2.</b> 재료를 입력하고 요리보기 버튼을 눌러보세요<br>
        </div>
    </div>
</div>
{% endblock content %}
{% block vuejs %}
<script src="https://unpkg.com/vue@3"></script>
{% include 'omc/refrigerator_list_vue.html' %}

{% endblock vuejs %}