{% extends 'partials/base.html' %}
{% load static %}

{% block title %}
    Refrigerator List
{% endblock title %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div style="margin:30px">
    <h2 class="fs-4 fw-bold">가공/유제품</h2>
    </div>
    <div style="margin:30px">
        <button class="btn">
            <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
        </button>
    </div>
    <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">채소</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">해산물</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">육류</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">햄/소시지</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">곡물</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">곡물분말</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">면</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">콩/견과류</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">빵/떡</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">과일</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
        <hr class="my-4" />
    <div style="margin:30px">
        <h2 class="fs-4 fw-bold">조미료/양념</h2>
        </div>
        <div style="margin:30px">
            <button class="btn">
                <a href="#!" class="text-primary"><i style="font-size: 40pt;" class="bi bi-plus-square"></i></a>
            </button>
        </div>
</section>
{% endblock content %}